# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# SS files
.sso 
.cor 
.b01 
.b02 
.eva
.p01
.p02
.par 
.r01
.r02 
.rep 
.std 
.ss_new
.hes 
.dep 